<div class="password-strength">
  <input type="password" [(ngModel)]="password" (keyup)="onPasswordChange()" />
  <div
    class="password-strength-section"
    [ngClass]="{
      easy: passwordStrength === 'easy',
      
    }"
  >
    <span>Easy</span>
  </div>
  <div
    class="password-strength-section"
    [ngClass]="{
      
      medium: passwordStrength === 'medium',
      
    }"
  >
    <span>Medium</span>
  </div>
  <div
    class="password-strength-section"
    [ngClass]="{
      strong: passwordStrength === 'strong'
    }"
  >
    <span>Strong</span>
  </div>
</div>
